legacy-peer-deps=true
strict-peer-dependencies=false
@react-native-async-storage:registry=https://registry.npmjs.org/
@react-navigation:registry=https://registry.npmjs.org/
expo:registry=https://registry.npmjs.org/

